{% extends "::base.html.twig" %}

{% block title %}RogerTruckSupervisorAppBundle:BackOffice:listDrivers{% endblock %}

{% block body %}
<h1>Welcome to the BackOffice:listDrivers page</h1>
{% endblock %}


