{% extends "::base.html.twig" %}

{% block title %}RogerTruckSupervisor - BackOffice{% endblock %}

{% block body %}
<h1>Liste des techniciens</h1>
<table style="border: 1px solid black;width:75%;" border="1">
    <tr>
        <td><b>Nom</b></td>
         <td><b>Email</b></td>
        <td><b>Status</b></td>
    </tr>    
    {% for technician in technicians %}
        <tr>
            <td>{{ technician.nom }}</td>
            <td>{{ technician.email }}</td>
            <td>
                {% if technician.status %}
                    <p>disponible</p>
                {% else %}
                	<p>en intervention</p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
