{% extends "::base.html.twig" %}

{% block title %}RogerTruckSupervisorAppBundle:BackOffice:listTechnicians{% endblock %}

{% block body %}
<h1>Welcome to the BackOffice:listTechnicians page</h1>
{% endblock %}
