{% extends "::base.html.twig" %}

{% block title %}RogerTruckSupervisor - BackOffice{% endblock %}

{% block body %}
<h1>Liste des camions</h1>
<table style="border: 1px solid black;width:75%;" border="1">
    <tr>
        <td><b>Immatriculation</b></td>
        <td><b>Status</b></td>
    </tr>    
    {% for truck in trucks %}
        <tr>
            <td>{{ truck.immatriculation }}</td>
            <td>{{ truck.status }}</td>
            <td>
                {% if truck.status == "NEED_ASSISTANCE" %}
                    <a href="#911">CALL DA POLICE</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
