{% extends "::base.html.twig" %}

{% block title %}RogerTruckSupervisorAppBundle:BackOffice:sendTechnician{% endblock %}

{% block body %}
<h1>Welcome to the BackOffice:sendTechnician page</h1>
{% endblock %}
