{% extends "::base.html.twig" %}

{% block title %}RogerTruckSupervisorAppBundle:BackgroundWorker:checkLocations{% endblock %}

{% block body %}
<h1>Welcome to the BackgroundWorker:checkLocations page</h1>
{% endblock %}
